.color-cust-i {
    background-color: #a68663;
}

.color-cust-ii {
    background-color: #7525da;
}

.color-cust-iii {
    background-color: #3238a7;
}

.color-cust-iv {
    background-color: cadetblue;
}